body{
    background-color: green;
}
.titulo{
    text-align: center;
    font-size: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 80%); 
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 12px solid #333;
}
.fundo{
    text-align: center;
    background-color: rgb(255, 255, 255,80%); 
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 12px solid #333;
}
.import{
    font-size: 35px;
}
.tipos{
    font-size: 35px;
}
.oque{
    font-size: 35px;
}